<section class="section-sm pb-0">
  <div class="container">
    <div class="container mt-4">
      <button type="button" [routerLink]="['/categories/create/category']" class="btn btn-success btn-sm"><i class="ti ti-device-gamepad-2"></i> Add category</button>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        @for (category of categories; track category; let i = $index) {
          <tbody>
            <tr>
              <th scope="row">{{ i }}</th>
              <td>{{ category.name }}</td>
              <td>{{ category.description }}</td>
              <td><button [routerLink]="['/categories/modify/category/', category.id]" class="btn btn-secondary btn-sm">Modify</button>   <button (click)="deleteCategory(category.id)" type="button" class="btn btn-danger btn-sm">Delete</button>
            </td>
          </tr>
        </tbody>
      }
    </table>
  </div>
</div>
</section>
