<div class="container mt-4">
  @if (error && id) {
    <div class="alert alert-danger">
      {{ error }}
    </div>
  }
  @if (success && id) {
    <div class="alert alert-success">
      <a class="nav-link" [routerLink]="['/games']">{{ success }}</a>
    </div>
  }

  @if (id!=undefined) {
    <h2 class="text-center"> Update Game </h2>
  }
  @if (id==undefined) {
    <h2 class="text-center"> Add a new game </h2>
  }
  <div class="col-6 mx-auto">
    @if (err!=undefined) {
      <div class="alert alert-danger" role="alert">
        {{ err }}
      </div>
    }
    <input [(ngModel)]='game.name'  type="text" class="form-control m-1" placeholder="name">
    <input  [(ngModel)]='game.description' type="text" class="form-control m-1" placeholder="description">
    <input  [(ngModel)]='game.avaiblity' type="number" class="form-control m-1" placeholder="availablity">
    <input  [(ngModel)]='game.price' type="number" class="form-control m-1" placeholder="price">
    <!--  LIST DEROULANTE  -->
    <select [(ngModel)]="game.categoryId" class="form-control m-1">
      <option value="">Select category</option>
      @for (category of categories; track category) {
        <option  [value]="category.id">{{ category.name }}</option>
      }
    </select>
    <!--  LIST DEROULANTE  -->
    @if (id==undefined) {
      <input (change)='select($event)' type="file"  class="form-control m-1" placeholder="image">
    }
    @if (id==undefined) {
      <button (click)='addGame()' class="btn btn-dark form-control m-1">Add game</button>
    }
    @if (id!=undefined) {
      <button (click)='modify()' class="btn btn-dark form-control m-1">Update game</button>
    }
  </div>
</div>
