<section class="section-sm pb-0">
  <div class="container">
    <div class="container mt-4">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Game Name</th>
          </tr>
        </thead>
        <tbody>
          @for (game of library?.games || []; track game; let i = $index) {
            <tr>
              <td><a class="d-block" [routerLink]="['/games/', game.gameId]">{{ game.name }}</a></td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</section>
